@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  padding: 1rem;
}
h1{
  @apply font-bold text-3xl mb-3
}
